* {
    box-sizing: border-box;
}

.mayor {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ayuda {
    background: rgb(54, 47, 47);
    color: rgb(233, 243, 244);
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.mayor .segunda {
    display: grid;
}

.ayuda .title {
    font-size: 36px;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.ayuda .sub {
    font-size: 21px;
    color: #333;
}

.ayuda .cajas {
    height: 150px;
    background-color: rgb(243, 231, 231);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0px;
}

.count {
    text-align: center;
}

.ayuda .input-box {
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #040101;
}

.input-box input::placeholder {
    color: #534c4c;
    text-align: right;
    font-weight: bold;
}

.ayuda button {
    width: 100%;
    height: 50px;
    background: rgb(177, 174, 174);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}