.grafico {
    background: rgb(54, 47, 47);
    color: rgb(233, 243, 244);
    border-radius: 10px;
    padding: 30px 40px;
}

.grafico .titulograf {
    font-size: 36px;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.grafico .aqui {
    border-radius: 30px;
}
