
.proceso{
    height: 100%;
    background-color: rgb(54, 47, 47);
    border-radius: 10px;
    padding: 20px 20px;
    /* margin: 20px 10px; */
    height: 485px;
    width: 1230px;
    overflow: auto;
}

.titu {
    color: aliceblue;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 30px 0px;
}

.error {
    color: rgb(222, 74, 29);
}

.matrices {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-column-gap: 30px; 
}
.nomatrices {
    color: black;
    background-color: rgb(243, 231, 231);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0px;
}

.matrix-table {
    display: flex;
  width: 100%;
  border-collapse: collapse;
}

.cell {
  flex: 1;
border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.subtitu {
  color: rgb(32, 255, 110);
}