.tab{
    display: grid;
    grid-column-gap: 30px;
    width: 800px;
    background: rgb(54, 47, 47);
    color: rgb(233, 243, 244);
    border-radius: 10px;
    height: 485px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
}
.xd {
    color: rgb(222, 230, 229);
    text-align: center;
}
.tablitas {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-column-gap: 30px;  
   
}
.Tabla {
    padding: 30px 40px;
}
.sub2 {
    font-size: 21px;
    margin: 10px 0px;
}

 .cajas {
    color: black;
    background-color: rgb(243, 231, 231);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0px;
}

.input-what {
    color: black;
    background-color: rgb(243, 231, 231);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0px;
}
.cajitas {
    display: grid;
    grid-template-columns: 20% 80%;    
}
.input-what input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #040101;
}
