@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.App {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 20px 20px;} */ 


body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, rgb(25, 22, 22), rgb(17, 16, 16));
}

