@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.App {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 20px 20px;} */ 


body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    /* background: rgb(20, 20, 20); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,33,68,1) 25%, rgba(40,21,55,1) 83%);    
}

